@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$c-white: #ffffff;
$c-heavy-grey: #353535;
$c-grey: #eaeaea;
$c-light-grey: #f6f6f6;
$c-black: #000000;

$title: "Shrikhand", cursive;
$text: "Roboto", sans-serif;