* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
    animation: overflowHidden 3s linear forwards;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: $text;
    color: $c-heavy-grey;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1, h2, h3, h4 {
    font-weight: 900;
    margin: 0;
    color: $c-black;
}

@keyframes overflowHidden {
    to {
        overflow: unset;
    }
}